body {
    height: 98vh;   
}

header {
    padding-top: 25px;
    padding-left: 20px;
    height: 100px;
    width: 98%;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    background-image: linear-gradient(to right,rgb(139, 31, 72),rgb(84,28,124));
}

button {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
}

#main {
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 9px;
}

input {
    margin-bottom: 10px;
    border-color:rgb(187, 46, 131);
    border-radius: 5px;
    width: 350px;
    height:20px;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px; 
}

.fa-share{
    cursor: pointer;
    color: blue;
    font-size: 25px;
}
.fa-times {
    cursor: pointer;
    color: blue;
    font-size: 25px;
    margin-left: 5px;
}

li {
    border-radius: 10px;
    margin-top: 5px;
    list-style: none;
    background-color: rgb(235, 239, 243);
}
.list {
    position:relative;
}
.checkbox{
    /* position: absolute; */
    top: 6px;
}
.fa-times{
    position: absolute;
    right: 10px;
    top: 6px;
}
b{
    font-weight: 100px; 
    font-size: 20px;
}


@media only screen and (min-width: 600px){
#main {
    position: fixed;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 300px;
    padding: 10px;
    border: 5px solid rgb(188, 191, 196);
    border-radius: 10px;
}

header {
    font-size: 80px;
}

input {
    padding-left: 5px;
    margin-left: 10px;
    width: 350px;
    height:25px;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
}

}